.video {
  max-width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  width: 70px;
  height: 25px;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: red;
}

#blue {
  background-color: blue;
}
