* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  overflow: hidden;
}

body {
  background: #101010;
  background-image: url('./assets/imgs/giga.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} /* shorthand é meu ovo */
